* {
    margin: 0;
    padding: 0;
}

#Titulo {
    font-family: sans-serif;
    color: rgb(13, 13, 13);
    margin-left: 7%;
}

#subTitulo {
    font-family: sans-serif;
    color: black;
    margin-left: 12%;

}

fieldset {
    border: 0;

}

body {

    background-color: rgb(16, 17, 17);
    font-family: sans-serif;
    color: rgb(247, 242, 242);
    margin-left: 34%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 5em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #eeeeee;
    display: block;

}

fieldset .grup .campo {
    float: left;
    margin-right: 1em;
}

.campo input[typpe="text"], .campo[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    margin-right: 1em solid #f0eff4;
    box-shadow: 2px 2px 2px rgba(210, 202, 202, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ffff;
}

#button {
    font-size: 1.2em;
    background: #E0E0f8;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0.2);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#button:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px 0, 0, 0, 0.2;
    text-shadow: none;
}

#button, select {
    cursor: pointer;
}

#checkbox {
    display: inline-block;
}